<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Agriculture Webportal</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">

    <link rel="stylesheet" href="static/css/templatemo-breezed.css">

    <link rel="stylesheet" href="static/css/owl-carousel.css">

    <link rel="stylesheet" href="static/css/lightbox.css">




    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            .New Era in Agriculture
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>

                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="static/images/H1.jpg" alt="">
                <div class="text-content">
                  <h3>Farmers are using artificial intelligence to help grow
                      food by combatting disease and pests, oftentimes made worse by climate change, pesticide use, and monocropping.</h3>
                  <h5>AI.Revolution</h5>
                  <a href="#" class="main-stroked-button">Learn More</a>
                  <a href="#" class="main-filled-button">Get It Now</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="static/images/H2.jpg" alt="">
                <div class="text-content">
                  <h3>Drones and other robots equipped with computer vision collect data points from the farms' exisiting crops. </h3>
                  <h5>AI.Revolution</h5>
                  <a href="#" class="main-stroked-button">Read More</a>
                  <a href="#" class="main-filled-button">Take Action</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="static/images/H3.jpg" alt="">
                <div class="text-content">
                  <h3>Through machine learning, farmers can monitor crops' nutrient levels,
                      while also sheltering them from unpredictable and possibly damaging elements.</h3>
                  <h5>AI.Revolution</h5>
                  <a href="#" class="main-stroked-button">Learn More</a>
                  <a href="#" class="main-filled-button">Get It Now</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Artificial Intelligence in agriculture not only helping farmers to automate their farming but also shifts to precise
                            cultivation for higher crop yield and better quality while using fewer resources.

                            Companies involved in improving machine learning or Artificial
                            Intelligence-based products or services like training
                            data for agriculture, drone, and automated machine making will get technological advancement in the future will provide more
                            useful applications to this sector helping the world deal with food production issues for the growing population.</h6>
                        <h2>Using Modern Day Artificial Intelligence to Solve Traditional Farming Problems</h2>
                    </div>
                 </div>

                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="static/images/home1.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="/leaf_detection"><i class="fa fa-bookmark"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>वनस्पतीवरील रोग शोधा / Plant Diseas Detection </h4>
                            <span>रोपावरती  कोणता रोग आहे  कि नाही ते तपासा ,आणि  तुमच्या रोपाचे रोगापासून स्वरंक्षण करा / Check for disease on the plant,and protect your plant from disease</span><br><br>
                            <a href="/leaf_detection" class="main-button-icon">
                                Learn More <i class="fa fa-arrow-right"> </i></a>

                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="static/images/home2.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="/input_crop_recommendation"><i class="fa fa-bookmark"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>पिकांची शिफारस / Crop Recommendation</h4>
                            <span>तुमच्या विभागात तुम्ही कोणतं पीक घेऊ शकता, योग्य हंगामात योग्य पिक घ्या आणि  सुलभ शेती करा / What crop can you grow in your area, get the right crop in the right season and do easy farming</span><br><br>
                            <a href="/input_crop_recommendation" class="main-button-icon">
                                Learn More <i class="fa fa-arrow-right"> </i></a>
                        </div>
<!--                        <div class="item author-item">-->
<!--                            <div class="member-thumb">-->
<!--                                <img src="static/images/home3.jpg" alt="">-->
<!--                                <div class="hover-effect">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="#"><i class="fa fa-bookmark"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>.03 Johnny Egg</h4>-->
<!--                            <span>Digital Influencer</span><br><br>-->
<!--                            <a href="#" class="main-button-icon">-->
<!--                                Learn More <i class="fa fa-arrow-right"> </i></a>-->
<!--                        </div>-->


                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="static/images/contact-info-01.png" alt="">+91-7875494313</li>
                            <li><img src="static/images/contact-info-02.png" alt="">vishumetkari.cse@gmail.com</li>
                            <li><img src="static/images/contact-info-03.png" alt=""> https://programokey.blogspot.com/  </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="/data" method="POST">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" id="phone" placeholder="Your Phone" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" id="email" placeholder="Your Email *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
<!--                                  <input style="font-family:Cursive" type="submit" value="Submit now" class="submit" name="submit" id="submit" />-->
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2k21
                        
                        - Design: <a rel="nofollow noopener" href="https://www.linkedin.com/in/er-vishvanath-metkari-586617197/">er_vishuu_vi__jaya</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://www.linkedin.com/in/er-vishvanath-metkari-586617197/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script>
    <script src="static/js/slick.js"></script>
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/isotope.js"></script>
    
    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>