<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="{{url_for('static',filename='tooplate-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">

    <title>Indentify Plant Diseases</title>
    <!--

    Template 2107 New Spot

	http://www.tooplate.com/view/2107-new-spot

    -->
</head>

<body>
    <div class="tm-container mx-auto">


        <section class="tm-section tm-section-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tm-bg-circle-white tm-flex-center-v">
                            <header class="text-center">
                                <h1 class="tm-site-title">Corn Plant </h1>
                                <p class="tm-site-subtitle">Identify your Crop Disease</p>
                            </header>
                            <p>Agriculture forms the backbone of our country and crop loss due to plant disease is a major factor contributing
to reduction in crop yield. Artificial Neural Network (ANN) methods with smart algorithms for plant disease
identification are the need of hour to reduce severity of losses and minimize crop health problems.</p>
                            <p class="text-center mt-4 mb-0">
                                <a data-scroll href="/inputcorn" class="btn tm-btn-secondary">Continue...</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="tm-section-2" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">Cotton Plant</h2>
                        <p class="mb-4"> The primary purpose of the project is to identify whether a particular cotton leaf is diseased or not and if it is diseased, identification of the
                            disease is done. We have considered three main diseases - Alternaria Macrospora, Bacterial Blight and Grey Mildew.</p>
                        <p class="mb-5">this project will help the farmers to recognize the cotton plants which are Fresh and Diseased
                            by simply uploading the pictures of the cotton plants on the web app..</p>
                        <p class="text-right mb-0">
                            <a href="/inputcotton" class="btn tm-btn-secondary">Continue...</a>
                        </p>
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="static/cotton-plant-leaves-1.jpg" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>

        <section id="tm-section-3" class="tm-section tm-section-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 tm-section-2-right">
                        <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v">
                            <header>
                                <h2 class="tm-color-primary">Grapes Disease</h2>
                            </header>
                            <p>We have developed a novel recommendation fusion enviroment to get instant solution  on normal grapes diseases or infection. we have designed
                            the recommendation system through rating  for end-user who want to instant solution for order medicine based on recommmendation. this system is
                            developed through rating given by end users. it is able to  find a instant solution.</p>
                            <p class="text-center mt-4 mb-0">
                                <a data-scroll href="/inputgrape" class="btn tm-btn-secondary">Continue...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="tm-section-4" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">Potato Diseases</h2>
                        <p class="mb-4">Potato is one of the prominent food crops all over the world.
                            In Bangladesh, potato cultivation has been getting remarkable popularity over the last decades.
                            Many diseases affect the proper growth of potato plants. Noticeable diseases are seen in the leaf region of this plant.
                            Two common and popular leaf diseases of the potato plants are Early Blight (EB) and Late Blight (LB). However,
                            if these diseases were identified at an early stage it would be very helpful for better production of this crop.
                            </p>
                        <p class="mb-5">To solve this problem by detecting and analyzing these diseases image processing is the best option.</p>
                        <p class="text-right mb-0">
                            <a href="/inputpotato" class="btn tm-btn-secondary">Continue...</a>
                        </p>
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="static/potato1.jpg" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>


        <section id="tm-section-5" class="tm-section tm-section-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 tm-section-2-right">
                        <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v">
                            <header>
                                <h2 class="tm-color-primary">Tomato Disease </h2>
                            </header>
                            <p> Tomato is the most popular crop in the world and in every kitchen, it is found in different forms irrespective of the cuisine. After potato and sweet potato, it is the crop which is cultivated worldwide.
                                India ranked 2 in the production of tomato. However, the
quality and quantity of tomato crop goes down due to the various kinds of diseases. So, to detect the disease a deep learning-based
approach is discussed in the article. For the disease detection and classification, a Convolution Neural Network based approach is
applied. </p>
                            <p class="text-center mt-4 mb-0">
                                <a data-scroll href="/inputtomato" class="btn tm-btn-secondary">Continue...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="tm-section pt-2 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 tm-flex-center-v tm-section-left">
                        <form action="#" class="tm-contact-form" method="POST">
                            <div class="form-group mb-4">
                                <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required/>
                            </div>
                            <div class="form-group mb-4">
                                <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required/>
                            </div>
                            <div class="form-group mb-5">
                                <textarea rows="5" id="contact_message" name="contact_message" class="form-control" placeholder="Message..." required></textarea>
                            </div>
                            <div class="form-group mb-0 text-right">
                                <button type="submit" class="btn tm-btn-primary tm-send-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-8 col-lg-8 tm-circle-img-container tm-contact-right">
                        <img src="static/images/cr_1.jpg" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>


        <footer class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="small mb-4 tm-footer-text">Copyright &copy; 2021 | Created By | <a rel="nofollow" href="https://www.linkedin.com/in/er-vishvanath-metkari-586617197/" class="tm-footer-link">er_vishuu_vi__jaya</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
<!--    <script src="js/smooth-scroll.polyfills.min.js"></script>-->

    <script src="static/smooth-scroll.polyfills.min.js"></script>

    <!-- https://github.com/cferdinandi/smooth-scroll -->
    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            easing: 'easeInOutQuart',
            speed: 800
        });
    </script>
</body>
</html>