<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Output</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    </head>
    <body>
        <center>
            <div class='cont'>
               <div class='cont' >

                    <h2>Prediction of Given Image </h2>

                   <h2>दिलेल्या प्रतिमेचा अंदाज</h2>
                </div>
            </div>


            <h3> <br> __Prediction__ : <span>{{data[0]}}</span> </h3>

            <img src="{{url_for('load_img')}}" alt='img'>
            <a href="/" class='btn'>go back</a>

        </center>

     <div class="footer">
         <p>| Designed by | er_vishuu_vi__jaya | 2021 | </p>
     </div>


    </body>
</html>